img {
    border-radius: 50%;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
html,body{
    width: 100%;
    height: 100%;
}
div {
    width: 100%;
    text-align: center;
}
