body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.exerciseSection{
    border: 1px red solid;
    border-radius: 5px;
    padding: 20px;
}
.outputSpan{
    margin-top: 30px;
    min-height: 60px;
    font-weight: bold;
    font-size: 2em;
}
.outputSpan .highlighted{
    color: crimson;
}